{% extends "accounts/auth/_auth_base.html" %}
{% block card %}
{% if validlink %}
<h1>Choose a new password</h1>
<form method="post" novalidate>
  {% csrf_token %}
  {% include "components/form.html" %}
  <button type="submit" class="btn btn-primary btn-block" data-loading>Set password</button>
</form>
{% else %}
<h1>Link not valid</h1>
<p>This link is invalid or has expired. Request a new one.</p>
<a class="btn btn-primary btn-block" href="{% url 'accounts:password_reset' %}">Request a new link</a>
{% endif %}
{% endblock %}
